<div class="contenedor">
    <div>
        <img src="../../../assets/images/salon_de_belleza.jpg" alt="">
    </div>
    <div class="formulario">
        <form action="">
            <h3>Login</h3>
            <p>Por favor complete su información acontinuación</p>
            <div class="inputs">
                <mat-icon matSuffix>mail</mat-icon>
                <input id="email" type="email" name="email" placeholder="E-mail" required>
                <mat-icon matSuffix>lock</mat-icon>
                <input type="password" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="button">Ingresar</button>
        </form>
        
        <div class="datos">
            <p class="login-link">¿No tienes cuenta?<a href="register" routerLink="register">Registrate</a></p>
        </div>
    </div>
</div>