<div class="contenedor">
    <div>
        <img src="https://media.glamour.mx/photos/61909719f5ed039ceea857ec/1:1/w_1714,h_1714,c_limit/185810.jpg" alt="No cargo la imagen">
    </div>
    <div class="formulario">
        <form action="" (ngSubmit)="login()">
            <h3>Login</h3>
            <p>Por favor complete su información a continuación.</p>
            <div class="inputs">
                <mat-icon matSuffix>mail</mat-icon>
                <input [(ngModel)]="email" name="email" id="email" type="email" name="email" placeholder="E-mail" required>
                <mat-icon matSuffix>lock</mat-icon>
                <input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="button">Ingresar</button>
        </form>
        
        <div class="datos">
            <p class="login-link">¿No tienes cuenta?<a href="register" routerLink="register">Registrate</a></p>
        </div>
    </div>
</div>