h2 {
  text-align: center;
}

.responsive-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Opcional: centra las columnas */
}


.spinner{
  padding-left: 45%;
  padding-right: 45%;
  padding-top: 20px;
}
  