<body>
    <div class="fondo row">
        <p class="parrafo col-11 col-sm-11 col-md-10 col-lg-8">
            Nos enorgullece ofrecer servicios de peluquería y barbería de primera calidad, diseñados para resaltar tu
            belleza y estilo único. Con un equipo de expertos apasionados por el arte del cabello y un ambiente acogedor
            que te hará sentir como en casa, estamos aquí para brindarte una experiencia excepcional desde el momento en
            que entras por nuestras puertas.<br />
            <button (click)="navigateToReservarCita()">RESERVA AHORA</button>
        </p>
    </div>
</body>