html, body {
    background-image: url('../../../assets/images/home-barberia.jpg');
    background-size: cover;
}
.parrafo{
    font-size: 25px;
    color: white;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-weight: 500;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Empuja el contenido al final del contenedor */
    height: 61vh; /* Altura del viewport */
    background: linear-gradient(to top, rgba(222, 155, 149, 0.8), rgba(255, 64, 129, 0)); /* Gradiente rosado */
    align-items: center;
}

.parrafo button {
    background-color: #DE4BB7;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
    width: 200px;
    margin-top: 20px;
}

.parrafo button:hover {
    cursor: pointer;
    font-size: 21px;
}

/* Media query para pantallas menores o iguales a 480px */
@media (max-width: 480px) {
    .parrafo {
        font-size: 18px;
        padding: 0 10%;
        height: 61vh;
        padding-bottom: 25%;
    }

    .parrafo button {
        font-size: 18px;
        padding: 10px;
        width: 100%;
    }
}

@media(max-width:420px){
    .parrafo{
        padding-bottom: 42%;
    }
}

