.contenedor{
    padding: 0 10%;
}
.responsive-table {
    width: 100%;
    border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
    padding: 8px;
    text-align: left;
}

@media (max-width: 480px){
    .contenedor{
        padding: 0;
    }
    .responsive-table{
        display: block;
        overflow-x: auto;

    }

    .responsive-table thead tr {
        display: none;
    }

    .responsive-table tr {
        margin-bottom: 15px;
    }  
}