<div class="contenedor">
    <div>
        <img src="../../../assets/images/salon_de_belleza.jpg" alt="">
    </div>
    <div class="formulario">
        <form action="">
            <h3>Registro</h3>
            <p>Por favor complete su información acontinuación</p>
            <div class="inputs">
                <mat-icon matSuffix>person</mat-icon>
                <input type="text" placeholder="Nombre de Usuario" required>
                <mat-icon matSuffix>mail</mat-icon>
                <input type="email" placeholder="E-mail" required>
                <mat-icon matSuffix>lock</mat-icon>
                <input type="password" placeholder="Contraseña" required>
                <mat-icon matSuffix>lock</mat-icon>
                <input type="password" placeholder="Confirmar Contraseña" required>

                <p class="login-link">¿Ya tienes una cuenta? <a href="login">Iniciar sesión</a></p>
            </div>
            <button type="submit" class="button">Registrarse</button>

        </form>
    </div>
</div>