.contenedor {
    display: flex;
}

img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra todo el área sin distorsionarse */
    position: absolute;
    top: 0;
    left: 0;
}

.formulario {
    padding-left: 55%;
}

h3, p {
    color: #DE4BB7;
}
.inputs {
    width: 280px;
}
input {
    margin: 4px 0 8px 0;
    padding: 12px 10px 12px 40px;
    border-radius: 8px;
    width: 100%;
    border: #DE9B95 1px solid;
    font-size: 16px;
}

mat-icon {
    position: absolute;
    margin: 10px;
    color: #DE9B95;
}

input:focus{
    border: #DE4BB7 3px solid;
    outline: none;
}

.button {
    background-color: #DE4BB7;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 7px;
    width: 200px;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    font-size: 21px;
}

.login-link a {
    color: #DE4BB7;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }

  @media (max-width: 480px){
    h3 {
        text-align: center;
    }
    .contenedor {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .formulario {
        padding-left: 0;
    }

    .contenedor img {
        display: none; /* Ocultar la imagen */
    }

    .button{
        width: 100%;
    }
    .datos{
        text-align: center;
       display: block;
    }

    .inputs {
        width: 85%;
    }

    .login-link{
        text-align: center;
    }
}