<div class="contenedor">
    <div>
        <img src="https://media.glamour.mx/photos/61909719f5ed039ceea857ec/1:1/w_1714,h_1714,c_limit/185810.jpg" alt="">
    </div>
    <div class="formulario">
        <form action="" (ngSubmit)="register()">
            <h3>Registro</h3>
            <p>Por favor complete su información a continuación.</p>
            <div class="inputs">
                <mat-icon matSuffix>person</mat-icon>
                <input [(ngModel)]="username" name="username" type="text" placeholder="Nombre de Usuario" required>
                <mat-icon matSuffix>mail</mat-icon>
                <input [(ngModel)]="email" name="email" type="email" placeholder="E-mail" required>
                <mat-icon matSuffix>lock</mat-icon>
                <input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required>
                <mat-icon matSuffix>lock</mat-icon>
                <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirmar Contraseña" required>

                <p class="login-link">¿Ya tienes una cuenta? <a href="login">Iniciar sesión</a></p>
            </div>
            <button type="submit" class="button">Registrarse</button>

        </form>
    </div>
</div>