<div class="caja row">
    <div class="contenedor col-11 col-md-10 col-lg-5">
        <h3>Servicios</h3>
        <p>Ofrecemos una amplia gama de servicios que incluyen cortes de cabello para hombres y mujeres, afeitados
            clásicos, tratamientos capilares, peinados para ocasiones especiales, manicuras y pedicuras, depilación
            facial, entre otros. Nuestro equipo altamente capacitado y experimentado está aquí para ayudar a cada
            cliente a lucir y sentirse lo mejor posible.</p>
    </div>
    <div class="contenedor col-11 col-md-10 col-lg-5">
        <h3>Reservaciones</h3>
        <p>Para mayor comodidad, ofrecemos un sistema de reservas en línea a través de nuestra página web. Simplemente
            visite nuestro sitio web, seleccione el servicio deseado, elija un horario conveniente y ¡listo! Nos
            aseguraremos de que su visita a sea perfecta desde el momento en que reserva su cita hasta que se marche con
            una sonrisa en el rostro y un nuevo estilo increíble.</p>
    </div>
</div>
<h3 class="follow">Siguenos en nuestras redes sociales</h3>
<div class="social-icons">
    <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook Logo" width="50" height="50">
    <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp Logo" width="50" height="50">
    <img src="https://cdn-icons-png.flaticon.com/512/1409/1409946.png" alt="Instagram Logo" width="50" height="50">
</div>