.caja {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
h3 {
    text-align: center;
}
.contenedor {
    border-radius: 10px;
    background-color: rgba(222, 155, 149, 0.6);
    padding: 20px;
    margin-top: 50px;
}
.follow {
    margin-top: 80px;
}
.social-icons {
    text-align: center;
    margin-top: 10px;
}
.social-icons img {
    width: 50px;
    height: 50px;
    margin: 10px;  
  }

.social-icons img:hover {
    cursor: pointer;
    width: 55px;
    height: 55px;
  }